body {
  background: url(../../resources/img/bg-image.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  #main-well {
    margin-top: 30px;
    background: rgba(255, 255, 255, 0.75);
  }
  h1 {
    font-family: 'Monoton', cursive;
    font-size: 60px;
    text-decoration: underline;
    color: #5252FF;
  }
  h2 {
    font-weight: bold;
    font-style: italic;
    // color: #ff5252;
  }
}
